h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

footer {
  margin-top: 20px;
}

.img-center {
  display: inline-block;
  text-align: center;
}

.navbar {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color:  #fff;
  border-left-color: #fff;
}

#loading-bar .bar {
  background: #fff;
}

#loading-bar .peg {
  -moz-box-shadow: #fff 1px 0 6px 1px;
  -ms-box-shadow: #fff 1px 0 6px 1px;
  -webkit-box-shadow: #fff 1px 0 6px 1px;
  box-shadow: #fff 1px 0 6px 1px;
}
