<div data-ng-show="!user.$resolved || user.length">
  <div class="row">
    <div class="col-md-12">
      <p>Start a search for a user in the navigation bar</p>
    </div>
  </div>
</div>
<div data-ng-hide="!user.$resolved || user.length">
  <div class="row">
    <div class="col-xs-12">
      <h1 data-ng-bind="user.login"></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 img-center">
      <img src="{{user.avatar_url}}"/>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="row" data-ng-show="user.name">
        <div class="col-xs-12">
          <i class="fui-user"></i> <span data-ng-bind="user.name"></span>
        </div>
      </div>
      <div class="row" data-ng-show="user.blog">
        <div class="col-xs-12">
          <i class="fui-link"></i> <span data-ng-bind="user.blog"></span>
        </div>
      </div>
      <div class="row" data-ng-show="user.email">
        <div class="col-xs-12">
          <i class="fui-mail"></i> <span data-ng-bind="user.email"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <i class="fui-home"></i> <a data-ng-href="#/repos/{{user.login}}">Repos</a>
        </div>
      </div>
    </div>
  </div>
</div>
